.logo-nav-container
{
    display: flex;
    align-items: center;
    font-style: italic;
    font-weight:bold;
    font-size:150%;    
}
.networks
{
    margin-right: 3px;
    padding: 3px;
    justify-content: space-between;
    
}
.menu ul
{
    margin: 0;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    background-image: url(https://i.pinimg.com/564x/2c/a8/d7/2ca8d734d86067c5229d99a0c0174de9.jpg);
    font-family: Arial;
    
}    
    .menu ul li
    {
        display: inline-block;
    }
        .menu ul li a
        {
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.4s linear;
            border-radius: 5px;

        }
        .menu ul li a:hover
        {
            background: #444242d3;
        }
img.right{
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

#Content
{
    font-family: Arial; 
    font-size:120%;
    text-align: justify;
    margin: 30px;
}     
.letter{
    font-family: fantasy;
}
.pie ul
{
    padding: 5px 15px;
    font-family: Arial;
    border-top: 2px solid #999999;
    font-size:16px;
}
    .pie ul li
        {
            display: inline-block;
        }
      
#page_content
{
    float: left;
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 3px;
    
    }
#portfolio_page
{
    float: left;
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 3px;
    
}
#pag_contacto
{
    float: right;
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 3px;
    
}
.contact ul
{
    font-family: Arial;
}
    .contact ul li
        {
            display: inline-block;
            padding-left: 40px;
            padding-right: 3px;
        }
#formulario{
    border: whitesmoke;
    background: white;
    border-radius: 20px;
    padding: 2em;
    width: 400px;
    line-height: 3em;
    
}     
#formulario input[type="submit"]{
    width: 100%;
    background-color: lightgrey;
    border-radius: 5px;
    border: 1px solid lightgrey;
    color: black;
}
#formulario input[type="password"]{
    width: 100%;
    background-color: lightgrey;
    border-radius: 5px;
    border: 1px solid lightgrey;
    color: black;
}

#formulario input[type="text"]
{
    width: 100%;
}

.about
{
    font-family: Arial; 
    font-size: 120%;
    text-align: justify;
    margin: 30px;
}
.about ul li
        {
            display: inline-block;
            padding-left: 40px;
            padding-right: 3px;
        }
.briefcase{
        font-family: Arial; 
        font-size:120%;
        text-align: justify;
        margin: 30px;
        
}




